.statistick {
  width: 100%;
  padding: 26px 0;
  max-width: 41.95%;
  border-radius: 24px;
  background: #e5f2fe;

  @media (max-width: 1072px) {
    width: 100%;
    max-width: 100%;
    margin-bottom: 25px;
  }

  &__title {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: space-between;

    &__value {
      font-family: Poppins;
      font-weight: 600;
      font-size: 28px;
      line-height: 42px;
      letter-spacing: 0.02em;
      color: #000000;
    }
  }

  &__line {
    width: 100%;
  }
}
