.visual {
  background-color: white;
  padding: 60px 0;
  width: 100%;

  &__statick_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 1072px) {
      display: block;
    }
    &__card {
      width: 100%;
      display: flex;
      max-width: 55%;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 1072px) {
        max-width: 100%;
      }

      @media (max-width: 615px) {
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  &__tablick {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;

    &__container {
      width: 100%;
      max-width: 689px;

      @media (max-width: 950px) {
        max-width: 100%;
      }
    }

    &__cards_container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      max-width: 414px;
      justify-content: space-between;

      @media (max-width: 1220px) {
        max-width: 194px;
        flex-direction: column;
      }
      @media (max-width: 950px) {
        display: none;
      }
    }
  }

  &__animation {
    display: block;
    margin: 70px auto;
    width: 400px;
    -webkit-animation-name: rotation;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotation;
    -moz-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: rotation;
    -o-animation-duration: 10s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @-webkit-keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotation {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(720deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
