.userImage {
  z-index: 50;
  width: 170px;
  height: 170px;
  display: flex;
  border-radius: 50%;
  position: relative;
  margin: 65px auto 25px;
  align-items: center;
  justify-content: center;
  background: #f2f5fa;

  &__label {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 15;

    &__inp {
      display: none;
    }
  }

  &__image {
    z-index: 11;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
  }

  &__text {
    z-index: 2;
    font-size: 20px;
    position: absolute;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: rgba(11, 20, 50, 0.26);
  }

  &__uploader {
    position: absolute;
    display: flex;
    color: transparent;
    border: transparent;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    z-index: 51513;
    position: relative;

    &__img {
      border-radius: 50%;
      border: none;
      max-width: 170px;
      width: 100%;
      height: 170px;
    }
  }
}
