.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: white;
  border-radius: 50px;

  &__disabled_btn {
    background: #f2f5fa;
    border-radius: 27px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    max-width: 173px;
    width: 100%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #b6b6b6;
    cursor: not-allowed;
    margin-bottom: 11px;
  }

  &__title {
    font-size: 36px;
    color: #0b1432;
    margin: 20px 0 48px 0;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    font-family: Poppins;
    letter-spacing: 0.02em;
  }

  &__email {
    background: #f2f5fa;
    border-radius: 27px;
    padding: 14px 0 14px 40px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    max-width: 435px;
    width: 100%;
    margin-bottom: 22px;

    &::placeholder {
      color: rgba(11, 20, 50, 0.26);
    }
  }

  &__password {
    background: #f2f5fa;
    border-radius: 27px;
    padding: 14px 0 14px 40px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    max-width: 435px;
    width: 100%;
    margin-bottom: 38px;

    &::placeholder {
      color: rgba(11, 20, 50, 0.26);
    }
  }

  &__log_btn {
    background: #f2f5fa;
    border-radius: 27px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    max-width: 173px;
    width: 100%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #0b1432;
    margin-bottom: 11px;
  }

  &__reg_btn {
    background: #f2f5fa;
    border-radius: 27px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    max-width: 173px;
    width: 100%;
    font-family: Poppins;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #0b1432;
    margin-bottom: 36px;
  }

  &__frgt_btn {
    font-family: Poppins;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #0b1432;
  }
}
