p,
a,
q,
s,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
tr,
th,
td,
tt,
em,
h1,
h2,
h3,
h4,
h5,
h6,
div,
nav,
del,
pre,
big,
dfn,
img,
var,
ins,
kbd,
cite,
code,
menu,
body,
html,
span,
abbr,
samp,
ruby,
time,
mark,
form,
aside,
tbody,
audio,
video,
embed,
tfoot,
thead,
label,
table,
small,
strike,
strong,
legend,
canvas,
center,
applet,
figure,
footer,
header,
hgroup,
object,
output,
iframe,
article,
acronym,
address,
section,
caption,
details,
summary,
fieldset,
blockquote,
figcaption {
  display: block;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
}
body {
  height: 100%;
  background: #202020;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
input {
  box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
button,
a {
  cursor: pointer;
  display: inline-block;
}
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  vertical-align: baseline;
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  color: black;
  font-weight: 400;
  user-select: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  background-size: cover;
  -webkit-box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
}
.d_flex {
  display: flex;
}
.justify__between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
